
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ingresar</title>
</head>
<body style="background-color:#F5F2F1;">
	<nav style="background-color:black; height:60px;">
	</nav>
	<div class="main container">
		<div class ="shadow p-3 mb-5 bg-white rounded" style="height:100%">
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<div style="width: 400px;margin-left:33%;margin-bottom:200px;">
				<form action="~/Home/ActionIn">
					<label for="txtUser">Usuario</label>
					<input class="form-control" type="text" id="txtUser" />
					<label for="txtPass">Contrase&ntilde;a</label>
					<input class="form-control" type="text" id="txtPass" />
					<br />
					<input class=" btn btn-success" type="submit" value="Ingresar" />
					<br />
					<a style="display:block">Olvid&oacute; su contrase&ntilde;a?</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
