
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery_mobile/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery_mobile/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/principal.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bienvenido</title>
</head>
<body>
    <div data-role="page">
        <div data-role="header" data-theme="c">
            <h1>Bienvenido!</h1>
        </div>
        <div role="main" class="ui-content">
            <br />
            <br />
            <br />

            <a href="/Home/InicioSesion" class="ui-btn ui-btn-b ui-corner-all">Iniciar Sesión</a>
            <br />
            <br />
            <br />
            <a href="/Home/RegistrarCuenta" class="ui-btn ui-btn-b ui-corner-all">Regístrate</a>
            <p></p>
        </div>
    </div>
</body>
</html>
